*{
    background-color: aqua;
    padding: 10PX 20PX 20PX;
    border-radius: 20PX;
    
}
h1{
    text-align: center;
    background-color: antiquewhite;
    border-color: black;
    border-radius: 20PX;
    box-shadow: crimson;
}
p{
    background-color: darkorchid;
}
h2,h3,ul,ol{
    text-align: center;
}
h2{
    background-color: rgba(255, 0, 242, 0.859);
}
li{
    list-style-image: url(cuboid.png);
    list-style-position: outside;
}
table,th,td{
    border: 1px solid black;
    border-collapse: separate;
}
th,td{
    padding: 15px;
}
th{
    background-color: tomato;
}
td{
    background-color: darkorchid;
}